# Django settings
#SECRET_KEY=your-secret-key
#DEBUG=TRUE

# Database configuration for PostgreSQL
#POSTGRES_DB=foodbudget_db
#POSTGRES_USER=user
#POSTGRES_PASSWORD=password
#POSTGRES_HOST=host
#POSTGRES_PORT=port

#SUPERUSER_LOGIN=your-super-user-login
#SUPERUSER_PASSWORD=superuser-password
